<!--  -->
<ul class="nav justify-content-end">
   <li class="nav-item">
     <a class="nav-link active" aria-current="page" href="/transaction">Transaction History</a>
   </li>
   <li class="nav-item">
     <a class="nav-link btn"(click)="delete()">Delete Account</a>
   </li>
   <li class="nav-item">
     <a class="nav-link btn" (click)="logout()">Sign Out</a>
   </li>
   
 </ul>



<h1>Welcome {{user}}</h1>
<!-- <div> -->
   <!-- <a href="/transaction">Transaction History</a> -->
<!-- </div> -->
<!-- delete child decarator -->
 <app-delete-confirm (onDelete)="onDelete($event)" (onCancel)="cancel()"  [item] ="acno"></app-delete-confirm>
<div [ngClass]="acno?'cc':'' " class="row">
   <div class="col-6">

      <!-- deposit form -->
      <link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
      <form (ngSubmit)="deposit()" [formGroup]="depositForm">

         <div class="login-block">
            <h1>Deposit</h1>
            <div>
               <input name="acno" formControlName="acno" type="text"  placeholder="Account Number">

            </div>
            <div *ngIf="this.depositForm.get('acno')?.touched&&this.depositForm.get('acno')?.errors" style="color: red">
               Invalid Account Number
            </div>
            <div>
               <input name="pswd" formControlName="pswd" type="password" placeholder="Password">

            </div>
            <div *ngIf="this.depositForm.get('pswd')?.touched&&this.depositForm.get('pswd')?.errors" style="color: red">
               Invalid Password
            </div>
            <div>
               <input name="amt" formControlName="amt" type="text"  placeholder="Enter Amount">

            </div>
            <div *ngIf="this.depositForm.get('amt')?.touched&&this.depositForm.get('amt')?.errors" style="color: red">
               Invalid Amount
            </div>

            <button type="submit">Deposit</button>
         </div>
      </form>
   </div>
   <div class="col-6">
      <!-- withdraw form -->
     
         <link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
         <form (ngSubmit)="withdraw()" [formGroup]="withdrawForm">
   
            <div class="login-block">
               <h1>withdraw</h1>
               <div>
                  <input name="acno" formControlName="acno" type="text"  placeholder="Account Number">
   
               </div>
               <div *ngIf="this.withdrawForm.get('acno')?.touched&&this.withdrawForm.get('acno')?.errors" style="color: red">
                  Invalid Account Number
               </div>
               <div>
                  <input name="pswd" formControlName="pswd" type="password" placeholder="Password">
   
               </div>
               <div *ngIf="this.withdrawForm.get('pswd')?.touched&&this.withdrawForm.get('pswd')?.errors" style="color: red">
                  Invalid Password
               </div>
               <div>
                  <input name="amt" formControlName="amt" type="text"  placeholder="Enter Amount">
   
               </div>
               <div *ngIf="this.withdrawForm.get('amt')?.touched&&this.withdrawForm.get('amt')?.errors" style="color: red">
                  Invalid Amount
               </div>
   
               <button type="submit">withdraw</button>
            </div>
         </form>
      </div>
   </div>